@import url("./../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("./navbar.css");
@import url("./home.css");
@import url("./footer.css");
body { 
    background-color: #f4f5f8; 
    font-family: 'Nunito', sans-serif;
}

.card{
    border-radius: .7rem;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input.form-control:focus,
input[type=password]:focus,
textarea.form-control:focus,
[type=tel].form-control:focus,
[type=text].form-control:focus,
[type=email].form-control:focus,
[type=password].form-control:focus,  
[contenteditable].form-control:focus {
box-shadow: inset 0 -1px 0 #ddd;
}